@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color:#164E63;
    --off-white:#F3F4F6;
    --dark-gray: #6B7280;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

hr{
    margin:2rem 0rem;
}

/* spaces */
.spaces{
    padding-bottom: 2rem;
}
.center{
    text-align: center;
}
/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center {
    max-width: 680px;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    
}
/* lists */
.list-non-bullet{
    list-style-type: none;
}

.list-item-inline{
    display: inline;
    padding:0rem 0.5rem;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: white;
}
.navigation .link-active{
    font-weight: bold;
}

/* header */
.hero{
    padding: 2rem;
    padding-top: 5rem;
}
.hero .hero-image{
    max-width: 350px;
    display: block;
    margin:auto;
}
.hero .hero-heading{
    font-weight: bold;
    padding-top:1rem;
    color: var(--dark-gray);
    text-align: center;
}
.hero .hero-heading .hero-inverted{
    color: var(--primary-color);
}

/* section */
.section{
    padding:2rem;
}
.section h1{
    text-align: center;
}
.ow{
background-color: var(--off-white);
}

/* blog */
.blog-image{
    max-width: 350px;
    display: block;
    margin: auto;
}

.blog-text{
    text-align: justify;
    padding: 1rem;
}

.blog-note{
    background-color: var(--off-white);
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color:white;
    margin-top: 5rem;
    border-top-right-radius: 1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: larger;
}
.footer .link{
    color:white;
}
.footer ul{
    padding-inline-start:0px;
}